body {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: rgb(230, 230, 242);
}

header {
    background: linear-gradient(to top, rgb(130, 130, 242), rgb(100, 100, 242));;
    display: grid;
    grid-template-columns: 150px auto;
}

header h2 {
    grid-column: 1/10;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    padding: 0;
    margin: 0 auto;
}

header nav {
    grid-column: 1/10;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    margin-top: -10px;
}

#title {
    font-style: italic;
}

.logo {
    grid-column: 1/3;
    grid-row: 1/3;
}


.banner a { 
    text-decoration: underline;
    color: black;
    padding: 10px;
}

.banner a:hover {
    background-color: rgb(100, 100, 242);
}

.banner a:visited {
    color: black;
}

.meet-team { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 15px;
}

.team-photo {
    grid-column: 2/5;
    grid-row: 1/3;
    width: 100%;
    border: 5px solid rgb(117, 226, 49);
}

.team-button {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    color: white;
    text-decoration: none;
}

.team-button :hover {
    text-decoration: underline;
}

.quote {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 150px;
    margin-bottom: 150px;
}

.quote-border {
    grid-column: 2/3;
    border: 10px double rgb(117, 226, 49);
    padding: 25px;
}

.quotePara {
    grid-column: 2/3;
    line-height: 1.5em;
    font-size: 1.5em;
}

.author {
    grid-column: 2/3;
    grid-row: 2;
    text-align: right;
}

.rates-title {
    text-align: center;
    margin-bottom: 75px;
}

.rates-title span{
    background-color: rgb(130, 130, 242);
    padding: 50px;
    border-radius: 10px;
}

.rates {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5px;
    margin-right: 5px; 
    margin-bottom: 50px;
}

.rate1 {
    grid-column: 1/2;
    grid-row: 1/2;
    border: 7px inset rgb(117, 226, 49);
    background: linear-gradient(to bottom, rgb(110, 110, 242), rgb(160, 160, 242));
}

.rate1 h1, .rate2 h1, .rate3 h1{
    text-align: center;
}

.rate1 img {
    width:100%;
    height: 50%;
}


/**
.back1 {
    background:linear-gradient(to bottom, rgb(130, 130, 242), rgb(100, 100, 242));
    grid-column: 2/3;
}
**/

.rate2 {
    grid-column: 3/4;
    grid-row: 1/2;
    border: 7px inset rgb(117, 226, 49);
    background: linear-gradient(to bottom, rgb(110, 110, 242), rgb(160, 160, 242));
}

.rate2 img {
    width: 100%;
    height: 50%;
}

/**
.back2 {
    background:linear-gradient(to bottom, rgb(130, 130, 242), rgb(150, 130, 242));
    grid-column: 1/2;
    grid-row: 2/3;
}
**/

.rate3 {
    grid-column: 2/3;
    grid-row: 2/3;
    border: 7px inset rgb(117, 226, 49);
    background: linear-gradient(to bottom, rgb(110, 110, 242), rgb(160, 160, 242));
}

.rate3 img {
    width: 100%;
}

/**
.back3 {
    background: linear-gradient(to bottom, rgb(130, 130, 242), rgb(100, 100, 242));
    grid-column: 3/4;
    grid-row: 2/3;
}
**/

footer {
    background: linear-gradient(to bottom, rgb(130, 130, 242), rgb(100, 100, 242));
    padding: 25px 50px;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

footer a, footer a:hover{
    color: black;
    text-decoration: none;
}

footer h3 a {
    text-decoration: underline;
}

footer img {
    padding: 15px;
}


/** Everything below this line is for the More About us Page. **/

.progressPhoto {
    display: grid;
    grid-template-columns: 1fr 1fr 10px 1fr 1fr;
    margin-top: 50px;
}

.before-img {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
}

.before-h2 {
    grid-column: 1/3;
    grid-row: 2;
    text-align: center;
}

.after-img {
    grid-column: 4/6;
    grid-row: 1/2;
    width: 100%;
}

.after-h2 {
    grid-column: 4/6;
    grid-row: 2;
    text-align: center;
}

.our-history {
    grid-column: 2/5;
    grid-row: 3;
    text-align: center;
    background-color: rgb(130, 130, 242);
    padding: 50px;
    line-height: 1.5em;
    border-radius: 10px;
}
.our-history span {
    color: white;
}

.commitment {
    margin-left: 10px;
}